html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  color: #262626;
}

.title {
  h1 {
    font-size: 3em;
    font-weight: 900;
    margin: 1em 0 1em 0;
    text-align: center;
  }
}

.container {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));

  .chart {
    padding: 2em;
    border-radius: 0.2em;
    box-shadow: 10px 10px 30px rgba(26, 26, 26, 0.2);
    .chartTitle {
      padding-top: 2em;
      display: none;
      text-align: center;
      font-size: 1.2em;
      font-weight: 500;
      margin: 0 1em;
    }
    &:nth-child(1) {
      display: flex;
      grid-column: 1 / span 2;
    }
    &:nth-child(4) {
      display: flex;
      grid-column: 1 / span 2;
    }
    &:nth-child(5),
    &:nth-child(6) {
      text-align: center;
      h2 {
        font-size: 2em;
        font-weight: 700;
        padding: 1em 0 1em 0;
      }
      p {
        font-size: 1.8em;
        font-weight: 900;
        padding: 0 0 1em 0;
      }
    }
    &:nth-child(6) {
      margin-bottom: 2em;
    }
  }
}

#chartdivTempGau {
  width: 100%;
  height: 500px;
}

#chartdivTempData {
  width: 100%;
  height: 500px;
}

#chartdivAmbTempGau {
  width: 100%;
  height: 500px;
}

#chartdivUmGau {
  width: 100%;
  height: 500px;
}

#chartdivVaz {
  width: 49%;
  height: 500px;
}

#chartdivLitro {
  width: 49%;
  height: 500px;
}

@media screen and (max-width: 1500px) {
  .container {
    grid-template-columns: 1fr;
    .chart {
      &:nth-child(1) {
        display: inline;
        grid-column: 1;
      }
      &:nth-child(4) {
        display: inline;
        grid-column: 1;
      }
    }
  }
  #chartdivVaz {
    width: 100%;
    height: 500px;
  }

  #chartdivLitro {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 1em;
    .chart {
      padding: 1em;
    }
  }
}

@media screen and (max-width: 600px) {
  .title {
    h1 {
      font-size: 2em;
      margin: 1em 0 1em 0;
    }
  }
  .container {
    padding: 0em;
    .chart {
      padding: 0em;
      &:nth-child(5),
      &:nth-child(6) {
        h2 {
          font-size: 1.5em;
        }
        p {
          margin: 0 1em;
          font-size: 1.2em;
        }
      }
      .chartTitle {
        display: grid;
      }
    }
  }
  #chartdivTempGau {
    height: 300px;
  }

  #chartdivTempData {
    height: 300px;
  }

  #chartdivAmbTempGau {
    height: 300px;
  }

  #chartdivUmGau {
    height: 300px;
  }

  #chartdivVaz {
    height: 300px;
  }

  #chartdivLitro {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    h1 {
      font-size: 1.2em;
      margin: 2em 0 1em 0;
    }
  }
}
